@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo</h1>
    <p>Teste desenvolvido como desafio para seletivo de desenvolvedor da InfoJobs.</p>
    <ul>
        Tecnologias
        <li>
            .NET 6
        </li>
        <li>
            Entity Framework
        </li>
        <li>
            ASP.NET 6
        </li>        
    </ul>
    <hr />
    <ul>
        Patterns
        <li>
            Repository
        </li>
        <li>
            Unit of Work
        </li>
        <li>
            CQRS
        </li>        
    </ul>
    <hr />
    <ul>Clean architecture
        <li>
            CQRS
        </li>
        <li>
            MediatR
        </li>
        <li>
            Layers
        </li>
        <li>
            SOLID
        </li>
    </ul>
    <ul>
        xUnit
        <li>Unit Tests</li>
    </ul>
    <small>Para executar o projeto, basta rodar-lo atráves do Visual Studio.</small>
</div>
