@model InfoJobs.Domain.DTO.ExperienceDTO

@{
    ViewData["Title"] = "Register new Experience";

    int? candidateId = Convert.ToInt32(ViewData["CandidateId"]);
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <hr />

        @* Replacing classic Validation Summary to Custom ViewComponent as TagHelper *@
        <vc:summary />

        <div class="form-group">
            <label asp-for="Company" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Company" class="form-control" />
                <span asp-validation-for="Company" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Job" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Job" class="form-control" />
                <span asp-validation-for="Job" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Salary" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Salary" class="form-control" />
                <span asp-validation-for="Salary" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="BeginDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="BeginDate" class="form-control" />
                <span asp-validation-for="BeginDate" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="EndDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
        </div>

        @if (candidateId != null)
        {
            <input type="hidden" asp-for="CandidateId" value="@candidateId"/>
        }
        else
        {
            <div class="form-group">
                <label asp-for="CandidateId" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="CandidateId" class="form-control" />
                    <span asp-validation-for="CandidateId" class="text-danger"></span>
                </div>
            </div>
        }



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-info">Back to List</a>
            </div>
        </div>
    </div>
</form>


@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
